<template>
    <div>
        <h1 id="left" :style="styling">Current Status: {{ status }}</h1>
        <button v-for="i in statuses" :key="i.id" @click="changeStatus(i.name, i.color)">{{ i.name }}</button>
    </div>
</template>

<script>
export default {
    name: 'ServerStatus',
    data: function() {
        return {
            status: 'Stable',
            styling: {
                'color': 'green',
            },
            statuses: [
                {
                    name: 'Critical',
                    color: 'red'
                },
                {
                    name: 'Stable',
                    color: 'green'
                },
                {
                    name: 'Unstable',
                    color: 'orange'
                },
                {
                    name: 'Frozen',
                    color: 'skyblue'
                }
            ]
        }
    },
    methods: {
        changeStatus: function(stat, color) {
            this.status = stat;
            this.styling.color = color;
        },
    }
}
</script>

<style lang="css" scoped>
    #left {
        text-align: center !important;
    }
    button {
        font-size: 1.5em;
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
        
    }

    button:not(:first-of-type) {
        margin-left: 1em;
    }
</style>
